
*.bak_*
*.lck
/DBTransformation/nbproject/private/
/DBTransformation/build/
/DBTransformation/dist/
/Prodacon2GUI/dist/
/TestjavaFX/nbproject/private/
/TestjavaFX/dist/
/TestjavaFX/build/
/testjavafx/nbproject/private/
/testjavafx/build/
/testjavafx/dist/
/Test/nbproject/private/