
*.bak_*
*.lck
/DBTransformation/nbproject/private/
/DBTransformation/build/
/DBTransformation/dist/
/Prodacon2GUI/build/
/Prodacon2GUI/dist/
/TestjavaFX/nbproject/private/
/TestjavaFX/dist/
/TestjavaFX/build/
/testjavafx/nbproject/private/
/testjavafx/build/
/testjavafx/dist/
/Test/nbproject/private/
Prodacon2GUI/build/built-jar.properties
Prodacon2GUI/build/classes/prodacon2gui/MainController$4.class
Prodacon2GUI/build/classes/prodacon2gui/MainController$5.class
Prodacon2GUI/build/classes/prodacon2gui/MainController$6.class
Prodacon2GUI/build/classes/prodacon2gui/MainController$7$1$1.class
Prodacon2GUI/build/classes/prodacon2gui/MainController$7$1.class
Prodacon2GUI/build/classes/prodacon2gui/MainController$7.class
Prodacon2GUI/build/classes/prodacon2gui/MainController$8.class
Prodacon2GUI/build/classes/prodacon2gui/MainController$9.class
Prodacon2GUI/build/classes/prodacon2gui/MainController.class
Prodacon2GUI/nbproject/private/private.properties
Prodacon2GUI/nbproject/private/private.xml
/Prodagon2Diagnostic/nbproject/private/
/Prodagon2Diagnostic/build/
/Prodagon2Diagnostic/dist/
/XMLBDParser/nbproject/private/
/XMLBDParser/XMLFile/
/XMLBDParser/build/
/XMLBDParser/Serializable/